:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 49%;

  & > * {
    box-sizing: border-box;
  }
}

.file {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;

  .word {
    display: inline-block;
  }

  .bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .underlined {
    text-decoration: underline;
  }
  span {
    padding-left: 5px
  }
  .offset {
    padding-left: 3px;
  }
}
