:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #f1f0f0;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.content-holder {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-grow: 1;

  & > * {
    box-sizing: border-box;
  }
}